{% extends "hydrolang/base.html" %}
{% load tethys_gizmos %}

{% block global_scripts %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/hydrolang@1.1.7/hydrolang.js"></script>
{% endblock %}

{% block app_content %}
  <div id="map"></div>
  <div id="overlay">
    <div id="content">
      <div id="retrieved-data"></div>
      <div id="stats-table"></div>
      <button id="download-btn">Download Data</button>
    </div>
  </div>
{% endblock %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Attribution">
    <a data-bs-toggle="modal" data-bs-target="#attribution-modal"><i class="bi bi-info-circle"></i></a>
  </div>
{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="attribution-modal" tabindex="-1" role="dialog" aria-labelledby="attribution-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="attribution-modal-label">Attribution</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>This app is based on the <a href="https://hydroinformatics.uiowa.edu/tutorials/hydrolang/docs/tutorial/case-study1">HydroLang Data Visualization Deck tutorial</a> developed by University of Iowa Hydroinformatics Lab.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
